@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic|Roboto');

/*
'Roboto'
'Nanum Gothic'
'Do Hyeon'
*/


/* 스타일 영역 */

* {
    font-family: 'Roboto', 'Do Hyeon', 'Nanum Gothic', '맑은 고딕', Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16pt;
    text-align: center;
    background-color: #101010;
    color: #ffffff;
    width: 100%;
    height: 100%;
}